<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>welcome page</title>
	<link rel="stylesheet" type="text/css" href="{% static "studyonlineapp/css/homepage.css" %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
	<marquee>Home page of StudyonlineApp</marquee>
	<h2>Welcome to Studyonline</h2>
	<div class="container" align="center">
	<div class="jumbotron">
  <h1 class="display-4">knowledge is power</h1>
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/Studentdetails/" role="button">StudentData</a>
  </p>
</div>
</div>

</body>
</html>